/* 全站文章里的图片和图注居中 */
.post-content figure {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.post-content figure img {
  margin-left: auto;
  margin-right: auto;

}

/* 控制文章内的单张图片 */
.post-content img {
    display: block;
    margin-left: auto;
    margin-right: auto; /* 这两行实现居中 */
    max-width: 50%;    /* 限制图片最大宽度为容器的 80%，你可以改成 600px 等固定值 */
    height: auto;       /* 保持比例 */
    border-radius: 8px; /* 可选：给图片加点圆角更美观 */
}

/* Footer runtime: match PaperMod footer/copyright style */
.footer-runtime {
  text-align: center;
  font-size: 0.65em;      /* 跟 footer 接近 */
  color: var(--secondary);
  margin: 0.4rem 0 0.2rem;
  line-height: 1.6;
}

.footer-runtime span {
  font-weight: 600;
  color: var(--secondary); /* 想更醒目就改成 var(--primary) */
}

/* 全体字数统计 */
.footer-totalcount{
  text-align: center;
  font-size: 0.65em;
  color: var(--secondary);
  line-height: 1.6;
  margin: 0.2rem 0 0.4rem;
}


/*折叠框架更有notion味儿*/
details {
    padding: 5px 10px;
    background: rgba(128, 128, 128, 0.05);
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

details[open] {
    background: rgba(128, 128, 128, 0.1);
}

summary {
    list-style: none; /* 隐藏默认箭头 */
    display: flex;
    align-items: center;
}

summary::before { /* 自定义 Notion 风格的小三角 */
    content: '▶';
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
    transition: transform 0.2s;
}

details[open] summary::before {
    transform: rotate(90deg);
}

/* 仅在文章详情页的正文内容中，为外链添加小箭头 
   如果你也不希望“脚注”或者“评论区”出现箭头，
   .post-content 这个类名已经非常精确地限制在文章正文了 */
.post-content a[href^="http"]:not([href*="localhost"]):not([href*="bnhnp.netlify.com"])::after {
    content: "↗";
    font-size: 0.8em;
    vertical-align: super;
    opacity: 0.6;
    margin-left: 2px;
}







/* 1. 隐藏目录中所有的列表圆点 */
.toc ul {
    list-style-type: none; /* 去掉圆点 */
    padding-inline-start: 0px; /* 保留层级缩进感 */
}

/* 2. 移除最外层的缩进，让目录整体靠左对齐 */
.toc > div > ul {
    padding-inline-start: 0;
}

/* 3. (可选) 让目录链接在鼠标悬停时更有质感 
/* .toc a:hover {
    color: var(--primary); /* 悬停时显示主色调 */
    /*text-decoration: underline; /* 增加下划线 */
/*} */