/* 全站文章里的图片和图注居中 */
.post-content figure {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.post-content figure img {
  margin-left: auto;
  margin-right: auto;
}


/* Footer runtime: match PaperMod footer/copyright style */
.footer-runtime {
  text-align: center;
  font-size: 0.65em;      /* 跟 footer 接近 */
  color: var(--secondary);
  margin: 0.4rem 0 0.2rem;
  line-height: 1.6;
}

.footer-runtime span {
  font-weight: 600;
  color: var(--secondary); /* 想更醒目就改成 var(--primary) */
}

/* 全体字数统计 */
.footer-totalcount{
  text-align: center;
  font-size: 0.65em;
  color: var(--secondary);
  line-height: 1.6;
  margin: 0.2rem 0 0.4rem;
}

/*折叠框架更有notion味儿*/
details {
    padding: 5px 10px;
    background: rgba(128, 128, 128, 0.05);
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

details[open] {
    background: rgba(128, 128, 128, 0.1);
}

summary {
    list-style: none; /* 隐藏默认箭头 */
    display: flex;
    align-items: center;
}

/* 自定义 Notion 风格的小三角 */
summary::before {
    content: '▶';
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
    transition: transform 0.2s;
}

details[open] summary::before {
    transform: rotate(90deg);
}

/* 给所有在新窗口打开的链接后加一个外链小图标 */
a[target="_blank"]::after {
    content: " ↗";
    font-size: 0.8em;
    vertical-align: super;
    opacity: 0.6;
}